name: 'deployTerraform Sample'
run-name: 'Deploying terraform via composite action'
on:
  workflow_dispatch:
  push: 
    branches: [feature/*]

jobs:
########################################
################DEV#####################
########################################
  sample-plan:
    name: 'Terraform Plan'
    runs-on: ['ubuntu-latest']
    steps:
      - name: Git clone the repository
        uses: actions/checkout@v4
###################################################
########## TERRAFORM PLAN #########################
###################################################
      - name: Terraform plan MyApplication.
        uses: ./.github/actions/composite_terraform
        with:
          terraform-action: "plan -out MyApplication-${{ github.run_number }}.plan"
          environment_stage: demo
          terraform_version: "1.13.3"
###################################################
########## UPLOAD OUTPUTS #########################
###################################################
      - name: Uploading terraform plan output
        uses: actions/upload-artifact@v4.4.3
        with:
          name: Terraform-Plan-MyApplication-${{ github.run_number }}-demo
          path: MyApplication-${{ github.run_number }}.plan
###################################################
########## END PLAN ###############################
###################################################
  sample-apply:
    name: 'Apply Terraform Changes for MyApplication'
    runs-on: ['ubuntu-latest']
    needs: ['sample-plan']
    steps:
      - name: Git clone the repository
        uses: actions/checkout@v4
###################################################
########## DOWNLOAD OUTPUTS #######################
###################################################
      - uses: actions/download-artifact@v4
        with:
          name: Terraform-Plan-MyApplication-${{ github.run_number }}-demo
###################################################
########## TERRAFORM APPLY ########################
###################################################
      - name: Terraform Apply MyApplication.
        uses: ./.github/actions/composite_terraform
        with:
          terraform-action: "apply -auto-approve MyApplication-${{ github.run_number }}.plan"
          environment_stage: demo
          terraform_version: "1.13.3"
